<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>MedLib</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/styles.css" rel="stylesheet">
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="nav flex flex-row justify-between items-center px-4" id="mynav">
            <div class="left-side flex items-center">
                <img src="{{url_for('static', filename='MedLib Logo 2.png')}}">
                <span class="text-2xl font-semibold logo-text px-2">MedLib</span>
            </div>
             <div class="center flex flex-row items-center gap-6 menu-items">
                <ul>
                    <li>
                        <a class="underlines text-black transition hover:text-gray-500/75 linkss" href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="underlines text-black transition hover:text-gray-500/75 linkss" href="review.html">Book Reviews</a>
                    </li>
                    <li>
                        <a class="underlines text-black transition hover:text-gray-500/75 linkss" href="guidelines.html">Guidelines</a>
                    </li>
                    <li>
                        <a class="underlines text-black transition hover:text-gray-500/75 linkss" href="team.html">About Us</a>
                    </li>
                    <li>
                        <a class="underlines text-black transition hover:text-gray-500/75 linkss" href="support.html">Support</a>
                    </li>
                </ul>
            </div>
    
            <a class="login-button px-5 py-2.5 text-sm font-medium text-black shadow" href="login.html">Login</a>
        <section>    
            {% block content %}
           
            {% endblock %}
        </section>
        <div style="background-color: navy; color: white; text-align: right; vertical-align: bottom;">
            MedLib <ion-icon name="cloudy-night-outline"></ion-icon> &nbsp&nbsp
        </div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>